<p style="color: green"><%= notice %></p>

<%= render @friend %>

<br>
<div>
  <button><%= link_to "Edit", edit_friend_path(@friend) %></button>
  <%= button_to "Destroy", @friend,data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
</div>
