<p style="color: green"><%= notice %></p>

<%= render @friend %>

<br>
<div>
  <button><%= link_to "Edit", edit_friend_path(@friend) %></button>
  |
  <button><%= button_to "Destroy", @friend, method: :delete %></button>
</div>
